*{
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background-image: url("https://static.pexels.com/photos/7126/flowers-summer-bokeh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  font-family: 'Cherry Cream Soda', cursive;
}

.nav {
  font-size: 2em;
}

#resume {
  text-align: center;
}
